* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.Nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: black;
    box-shadow: 0 2px 10px rgba(255, 140, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Circle_image{
    width: 400px;
    height: 400px;
    background: orange;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    left: 700px;
    top: -300px;
    border: 1px solid orange;
}

.Circle_image img{
    transition: 1s;
}

.Circle_image:hover{
    position: relative;
    z-index: 10;
    transform: scale(1.1);
}

.Logo {
    width: 80px;
}

.Nav-bar ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.Nav-bar li a {
    text-decoration: none;
    color: #FF8C00;
    font-size: 17px;
    transition: 0.3s;
}

.Nav-bar li a:hover {
    color: white;
}

.Nav-bar button {
    border: none;
    padding: 12px 18px;
    color: black;
    background-color: #FF8C00;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.Nav-bar button:hover {
    background-color: white;
}

.Nav-bar button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: relative;
    top: 40px;
    background:
        radial-gradient(
            circle at 75% 50%,
            rgba(255, 140, 0, 0.35),
            transparent 35%
        ),
        linear-gradient(
            120deg,
            black 50%,
            #1f0d00 75%,
            #3d1c00 100%
        );
}

.Home-text {
    max-width: 600px;
    position: relative;
    top: 200px;
}

.Welcome {
    color: #FF8C00;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.Home h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 20px;
    color: white;
}

.Description {
    font-size: 18px;
    line-height: 1.6;
    color: #dddddd;
    margin-bottom: 30px;
}

.Explore {
    background-color: #FF8C00;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.Explore a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Explore:hover {
    background-color: white;
}

